:root {
  --pale-blue: 225, 100%, 94%;
  --bright-blue: 245, 75%, 52%;
  --very-pale-blue: 225, 100%, 98%;
  --desaturated-blue: 224, 23%, 55%;
  --dark-blue: 223, 47%, 23%;
  --white: 0, 0%, 100%;
}

.page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Red Hat Display', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: hsl(var(--dark-blue));
  background-color: hsl(var(--pale-blue));
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.page__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 707px;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  width: 325px;
  background-color: hsl(var(--white));
  border-radius: 20px;
  box-shadow: 0 15px 30px hsl(var(--desaturated-blue), 0.5);
}

.card__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 24px 24px 24px;
  text-align: center;
}

.card__title {
  margin: 0;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 19px;
}

.card__description {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1.6;
  color: hsl(var(--desaturated-blue));
}

.card__options {
  display: grid;
  grid-template-columns: 45px auto auto;
  column-gap: 12px;
  background-color: hsl(var(--very-pale-blue));
  background-image: url(images/icon-music.svg);
  background-repeat: no-repeat;
  background-position: 15px;
  padding: 22px 15px;
  margin-bottom: 23px;
  border-radius: 10px;
  font-size: 13px;
}

.options__title {
  font-size: 13.5px;
  font-weight: 700;
  padding-bottom: 7px;
  margin: 0;
  grid-column: 2/3;
}

.options__price {
  grid-column: 2/3;
  color: hsl(var(--desaturated-blue));
}

.options__link {
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: center;
  justify-self: end;
  color: hsl(var(--bright-blue));
  font-size: 13.5px;
  font-weight: 700;
}

.options__link:hover,
.options__link:active,
.options__link:focus {
  text-decoration: none;
  opacity: 0.7;
}

.card__btn--payment {
  background-color: hsl(var(--bright-blue));
  border-radius: 10px;
  border: none;
  color: hsl(var(--white));
  font-size: 16px;
  font-weight: 700;
  padding: 16px 8px;
  margin-bottom: 23px;
  box-shadow: 0 15px 30px hsl(var(--desaturated-blue), 0.5);
}

.card__btn--payment:hover,
.card__btn--payment:focus {
  cursor:pointer;
  opacity: 0.7;
}

.card__btn--cancel {
  padding: 5px;
  border: none;
  background-color: transparent;
  color: hsl(var(--desaturated-blue));
  font-size: 16px;
  font-weight: 700;
}

.card__btn--cancel:hover,
.card__btn--cancel:focus {
 color:hsl(var(--dark-blue));
 cursor: pointer;
}

@media (min-width: 1439px) {
  .page {
    background-image: url(images/pattern-background-desktop.svg);
  }

  .page__main {
    height: 902px;
  }

  .card__wrapper {
    padding: 45px;
  }

  .card {
    width: 450px;
  }

  .card__title {
    font-size: 29px;
  }

  .card__description {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .card__options {
    background-position: 25px;
    column-gap: 3px;
    margin-bottom: 35px;
    padding: 25px 15px;
  }

  .options__title {
    font-size: 16px;
  }

  .options__price {
    font-size: 16px;
  }

  .options__link {
    padding-right: 10px;
  }

  .card__btn--payment {
    margin-bottom: 28px;
  }

  .card__btn--cancel {
    font-size: 15px;
    font-weight: 700;
  }
}
